/*CSS for blog*/

/*.blogindex-body .content-row{
    padding-top: 100px;
}*/


.profile-pic{
	width: 18%;
}

.intro-text{
  color: #2c3e50 !important; 
}

hr.star-light{
  border-color: #2c3e50 !important; 
}

hr.star-light:after, hr.star-primary:after{
  color: #2c3e50 !important;
  background-color: #fff;
}

header{
  background: #fff;
}


@media(max-width:768px) {
 	.profile-pic{
		width: 45%;
	}
}

.post .post-header{
    background: white;
    color: #18bc9c;
    text-align: left;
}

.post .post-header .meta{
    color: #818181;
}

/* Heading on each page */

.innerpage_heading {
  padding-top: 1px;
  min-height: 50px;
}

.innerpage_heading h1{
	margin-top: 12%;
}


@media(max-width:768px) {
 .innerpage_heading {
  padding-top: 10%;
  min-height: 100px;
}
}



/*Blog CSS*/

.posts .post-link{
	font-size: 170%;
  	font-weight: 700;
}

.posts .post-date{
	color: #818181;
	font-size: 100%;
}