---
layout: blogindex
title : Blog
---
<!-- Index page for blog -->
<div class="home col-md-8" style="padding-top:3%;">	
	<ul class="posts list-unstyled">
		{% for post in paginator.posts %}
		<li style="padding-bottom:5%;">           
			<div>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
				</a> 
				<p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
				<p> {{ post.excerpt }} </p>
			</div>                                  
		</li>        
		{% endfor %}
	</ul>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page == 1 %}
	<!-- For first page -->
	<a href="{{site.baseurl}}/blog/"><button class="btn btn-primary previous"><i class="fa fa-angle-left"></i> New Posts</button></a>
	<!-- For all other previous pages -->
	{% elsif paginator.previous_page > 1 %}
	<a  href="{{site.baseurl}}/blog/page{{paginator.previous_page}}"><button class="btn btn-primary previous"><i class="fa fa-angle-left"></i> New Posts<</button></a>
	{% else %}
	<!-- Disabled button -->
	<a href="{{site.baseurl}}/blog/" class="btn btn-primary previous disabled"><i class="fa fa-angle-left"></i> New Posts</a>
	{% endif %}
	
	<!-- Next button -->
	{% if paginator.next_page %}
	<a href="{{site.baseurl}}/blog/page{{paginator.next_page}}" class="next "><button class="btn btn-primary">Old posts <i class="fa fa-angle-right" style="font-size: 2 em;"></i></button></a>
	{% else %}
	<!-- Disabled button -->
	<a href="#"><button class="btn btn-primary disabled next">Old posts <i class="fa fa-angle-right" style="font-size: 2 em;"></i></button></a>
	{% endif %}
</div>
{% endif %}

</div>
<div class="col-md-1"></div>
<div class="col-md-3" style="margin-top:3%;">
  {% include blogsidepanel.md %}
</div>



